<!-- <button class="btn btn-lg btn-outline-primary">Open My Modal</button> -->
<button type="button" class="btn btn-primary mx-1" (click)="open(mymodal)"><i class="fa fa-edit"></i></button>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" name="modal-basic-title">userId {{userId}}</h4>
        <button type="button " class="close" aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true ">×</span>
    </button>
    </div>
    <div class="modal-body ">

        <form>
            <!-- Text input -->
            <div class="form-outline mb-4 ">
                <label for="nombre ">Nombre</label>
                <input type="text " name="nombre " id="nombre " class="form-control" [(ngModel)]="user.nombre" />
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4 ">
                <label for="edad ">Edad</label>
                <input type="text " name="edad " id="edad " class="form-control " [(ngModel)]="user.edad" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4 ">
                <label for="fecha ">Fecha</label>
                <input type="email " name="fecha " id="fecha " class="form-control " [(ngModel)]="user.fecha" />
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="update();modal.close('Save click')">Guardar</button>
        <button type="button" class="btn btn-outline-black btn-block mb-4" (click)="modal.close('Save click')">Cancelar</button>
    </div>
</ng-template>